{
  "env": {
    "browser": true,
    "es6": true,
    "node": true,
    "commonjs": true,
    "jest": true
  },
  "extends": [
    "plugin:prettier/recommended",
    "eslint:recommended",
    "plugin:react/recommended"
  ],
  "globals": {},
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    },
    "ecmaVersion": 2018,
    "sourceType": "module"
  },
  "plugins": ["react"],
  "rules": {
    "indent": ["error", 2, { "SwitchCase": 1 }],
    "linebreak-style": ["error", "unix"],
    "quotes": ["error", "single"],
    "semi": ["error", "never"],
    "react/prop-types": 0,
    "no-useless-escape": 0,
    "complexity": ["error", { "max": 10 }],
    "react/display-name": "off",
    "react/jsx-uses-react": "off",
    "react/react-in-jsx-scope": "off",
    "no-unused-vars": "warn",
    "eqeqeq": ["warn", "always"]
  }
}
