.page-newlink {
  margin-top: 15px;
  .page-wrap {
    width: 100%;
    max-width: 350px;
  }
  .page-header {
    border-bottom: 1px solid #eee;
    padding-bottom: 0.7rem;
    margin-bottom: 0.7rem;
  }
  .btn-back {
    padding: 0;
  }
}
